*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    ​font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #2C2B2B;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container{
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}
.header__top{
    padding: 47px 0 45px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone{
    font-family: 400;
    font-size: 36px;
    line-height: 54px;
}

.header__title{
    font-size: 72px;
    font-weight: 400;
    line-height: 107px;
    text-transform: uppercase;
}