*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    
}

.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}